.content-container {
  background-color: #023272;
  min-height: 90vh;
  color: white;
}
.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 35%;
  min-height: 90vh;
  margin: 0 auto;
  align-items: center;
}
.form-group {
  margin: 10px 0;
}

@media only screen and (max-width: 700px) {
  .form {
    width: 90%;
  }
}
